
  <!-- Main Content Area -->
  <div class="container mt-5">
    <div class="row">
    <!-- Dashboard Overview -->
      <div class="col-md-8">
        <h2>Welcome <%= current_user.username.titleize %>! </h2>
        <!-- Current Balance -->
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Current Balance</h5>
                <h3 class="card-text"> <%= number_to_currency(current_user.current_balance) %> </h3>
              </div>
            </div>
            <!-- Income and Expenses Summary -->
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Income & Expenses</h5>
                <p class="card-text">Income: <%= number_to_currency(current_user.user_income) %> </p>
                <p class="card-text">Expenses: <%= number_to_currency(current_user.total_expenses) %> </p>
              </div>
            </div>
            <!-- Expense Category Pie Chart -->
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Expense Categories</h5>
                <%= pie_chart current_user.expenses.group(:category).sum(:amount) %>
              </div>
            </div>
          </div>

          <!-- Sidebar -->
     <div class="col-md-4">
  <h5 class="mb-3">Savings Goals</h5>
  <!-- Savings Goals Progress Bars -->
  <div class="card mb-3">
    <div class="card-body">
      <% current_user.budgets.each_with_index do |budget, index| %>
        <div class="mb-3-custom">
          <h6 class="card-title"><%= budget.category %></h6>
          <% savings_amount = current_user.budget_savings_goals[index] %>
          <% percentage = (savings_amount.to_f / budget.amount * 100).round %>
          <% color_class = progress_bar_color_class(percentage) %>
          
          <div class="progress">
            <div class="progress-bar <%= color_class %>" role="progressbar" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"><%= number_to_percentage(percentage, precision: 0) %></div>
          </div>
          <p><strong>Savings:</strong> <%= number_to_currency(savings_amount) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>



  </div>
