<div id="<%= dom_id expense %>">
 
  <% if expense.has_budget? %>
    <p>
      <strong>Budget:</strong>
      <%= number_to_currency(expense.budget.amount) %> | <%= expense.budget.category %>
    </p>
  <% else %>
    <p>
      <strong>Budget:</strong>
      <%= "No Budget allocated" %>
    </p>
  <% end %>


  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= number_to_currency(expense.amount) %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense.category %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= expense.payment_method %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= expense.notes %>
  </p>

</div>
